@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700&display=swap);

@font-face {
  font-family: "icomoon";
  font-display: swap;
  src: url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans Condensed";
  background-color: #333333;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0px;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.gold-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #D1A954;
  padding: 0 47px;
}

.gold-btn:active {
  opacity: .6;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?iuyq3i");
  src: url("fonts/icomoon.eot?iuyq3i#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?iuyq3i") format("truetype"), url("fonts/icomoon.woff?iuyq3i") format("woff"), url("fonts/icomoon.svg?iuyq3i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-armchair:before {
  content: "\e900";
}

.icon-header_ico_1:before {
  content: "\e901";
}

.icon-header_ico_2:before {
  content: "\e902";
}

.icon-header_ico_3:before {
  content: "\e903";
}

.icon-header_ico_4:before {
  content: "\e904";
}

.icon-left-arrow:before {
  content: "\e905";
}

.icon-right-arrow:after {
  content: "\e906";
}

.icon-theater:before {
  content: "\e907";
}

.icon-burger:before {
  content: "\e908";
}

.icon-close:before {
  content: "\e909";
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background: url(../img/header_bg.jpg) center/cover no-repeat;
  height: 100vh;
  position: relative;
}

.header__aside {
  background-color: #333333;
  opacity: 0.6;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.header__aside-text {
  display: block;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 470px;
  left: -104px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
  color: #ffffff;
  padding-left: 120px;
}

.header__aside-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80px;
  height: 3px;
  background-color: #ffffff;
}

.header__socials {
  position: absolute;
  bottom: 55px;
  left: 65px;
}

.header__social-link {
  display: block;
  font-size: 26px;
  margin-bottom: 30px;
  color: #ffffff;
}

.header__social-link:hover {
  color: #D1A954;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 17%;
  height: 29px;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  margin-right: 63px;
}

.header__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header__link:hover {
  color: #D1A954;
}

.header__menu-socials {
  display: none;
}

.header__phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 5px;
  border-bottom: 2px solid #D1A954;
}

.header__phone:hover {
  border-bottom: none;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box {
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 535px;
          flex: 0 0 535px;
  margin-right: 125px;
}

.header__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 135.9375%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.header__text {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 49px;
}

.header__btn {
  margin-bottom: 15px;
}

.header__slider-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__top-slider {
  min-width: 0;
  position: relative;
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  margin-top: -20px;
}

.header__top-slider-item {
  height: 490px;
}

.header__top-slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__bottom-slider {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  margin-left: -330px;
  position: relative;
}

.header__bottom-slider .slick-prev,
.header__bottom-slider .slick-next {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  position: absolute;
  bottom: -60px;
}

.header__bottom-slider .slick-prev span,
.header__bottom-slider .slick-next span {
  font-family: Open Sans Condensed;
}

.header__bottom-slider .slick-prev {
  left: -20px;
  padding-left: 65px;
}

.header__bottom-slider .slick-prev::before {
  position: absolute;
  left: 0;
  font-size: 36px;
}

.header__bottom-slider .slick-next {
  right: 0;
  padding-right: 65px;
}

.header__bottom-slider .slick-next::after {
  position: absolute;
  right: 0;
  font-size: 36px;
}

.header__bottom-slider .slick-disabled {
  color: rgba(255, 255, 255, 0.6);
}

.header__image {
  position: relative;
  height: 490px;
}

.header__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(209, 169, 84, 0.85);
}

.about {
  color: #ffffff;
  padding: 150px 0;
}

.about span {
  color: #D1A954;
}

.about__title {
  font-weight: 300;
  font-size: 48px;
  line-height: 135.41667%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 445px;
          flex: 0 1 445px;
  margin-right: 30px;
}

.about__subtitle {
  font-weight: 700;
  font-size: 21px;
  line-height: 138.09524%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.about__text {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 150%;
}

.about__digits {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__box {
  margin-bottom: 25px;
}

.about__box:last-child {
  margin-bottom: 0;
}

.about__box-icon {
  font-size: 70px;
  margin-bottom: 15px;
}

.about__subtext {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  position: relative;
}

.about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1450px) {
  .container {
    max-width: 869px;
  }

  .header__box {
    margin-right: 50px;
  }

  .header__list li {
    margin-right: 28px;
  }

  .header__list li:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 772px;
    padding-left: 80px;
  }

  .header__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__menu {
    margin-bottom: 50px;
  }

  .header__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 535px;
            flex: 0 1 535px;
  }

  .header__slider-wrapper {
    display: none;
  }

  .about__image {
    display: none;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }

  .header__aside {
    display: none;
  }

  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about {
    padding: 90px 0;
  }

  .about__title {
    margin-bottom: 60px;
  }

  body.lock {
    overflow: hidden;
  }

  .header__menu-socials {
    display: block;
  }

  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
    color: #ffffff;
  }

  .header__burger::before {
    content: "\e908";
    font-family: 'icomoon' !important;
  }

  .header__burger.active::before {
    content: "\e909";
    position: absolute;
    left: 230px;
  }

  .header__menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: #333333;
    padding: 140px 0 0 40px;
  }

  .header__menu.active {
    left: 0px;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin-bottom: 35px;
  }

  .header__list li:last-child {
    margin-bottom: 90px;
  }

  .header__menu-socials {
    margin-left: 40px;
    max-width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__menu-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 34%;
            flex: 0 0 34%;
    margin-bottom: 50px;
  }

  .header__menu-link::before {
    font-size: 45px;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }

  .header {
    height: auto;
  }

  .header__title {
    font-size: 58px;
  }

  .header__btn {
    margin-bottom: 100px;
  }

  .about {
    padding: 80px 0;
  }

  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .about__item {
    margin-bottom: 25px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-right: 0;
  }

  .about__box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  .about {
    padding: 40px 0;
  }
}